<app-welcome>
    <div class="app-sidenav-content">
        <mat-card class="first">
            {{ id }}
            <br>
            {{ orden }}
            <br>
            {{ nombre }}
            <br>
            {{ tipo }}
            <br>
            {{ fechaC }}
            <br>
            {{ fechaE }}
            <br>
            {{ frase }}
        </mat-card>
        <mat-card class="second">
            {{ id2 }}
            <br>
            {{ orden2 }}
            <br>
            {{ nombre2 }}
            <br>
            {{ tipo2 }}
            <br>
            {{ fechaC2 }}
            <br>
            {{ fechaE2 }}
            <br>
            {{ frase2 }}
        </mat-card>
    </div>
</app-welcome>
